# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* list libraries for data science
* open source tools for data science
* languages for data science

## Some of the popular langyages that Data Scientists use are:
1. First python
2. Second R
3. Third Julia

## Some of the commonly used libraries used by Data Scientist include:
1. First pandas
2. Second Numpy
3. Third Matplotlib

# Data science Tools
 |Data Science Tools|
 |------------------|
 |      Rstudio    |
 | Apache spark |
 | Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
# This is simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
min=200
hours=min//60
print(hours)

3

## Author
Anish Banerjee